name: Build

on: [push, pull_request]

env:
  DOTNET_VERSION: 8.0.203
  PACKAGE_ID: dotnet-document
  NUPKG_PATH: ./src/DotnetDocument.Tools/nupkg/*.nupkg
  PROJECT_PATH: src/DotnetDocument.Tools/DotnetDocument.Tools.csproj

jobs:

  # The lint job
  lint:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Check format
        run: dotnet format --severity error --verify-no-changes -v q

  # The test job
  test-build-pack:
    runs-on: ubuntu-latest
    needs: lint
    steps:

    # Checkout the repo
    - name: Checkout repo
      uses: actions/checkout@v2

    # Setup .NET
    - name: Setup .NET ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    # Restore
    - name: Restore
      run: dotnet restore

    # Build
    - name: Build
      run: dotnet build --no-restore

    # Run tests
    - name: Test
      run: dotnet test --no-build --verbosity normal

    # Pack the tool as nupkg
    - name: Pack
      run: |
        dotnet pack -v normal -c Release --no-restore \
          --include-symbols --include-source \
          -p:PackageID=${{ env.PACKAGE_ID }} \
          -p:PackageVersion=${GITHUB_RUN_ID} \
          ${{ env.PROJECT_PATH }}
    
    # Upload nupkg to build artifacts
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.PACKAGE_ID }}
        path: ${{ env.NUPKG_PATH }}
